.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  margin: 0;
  width: 100%;
  height: 44px;
  background: rgba(0, 0, 0, .8);
  backdrop-filter: saturate(80%) blur(5px);
  position: fixed;
  text-align: center;
  color: antiquewhite;
  padding-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #c5c5c7
}


.table-header {
  width: 75%;
  margin: 0 auto;
  padding-top: 80px;
  font-weight: bold;
  text-align: center;
}

.section table {
  width: 100%;
}

.headers {
  background-color: #c5c5c7;
}

table {
  border-collapse: separate;
  border-spacing: 2px;
  font-size: 12px;
  display: table;
}

tr {
  display: table-row;
}

td {
  display: table-cell;
  text-align: center;
  border: 1px solid royalblue;
  padding: 8px;
  width: 120px;
}

.section-body {
  width: 75%;
  margin: 0 auto;
  align-self: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
